{% extends 'base.html' %}

{% block body_block %}
{% load static %}
<div class="jumbotron">
    <h1>Chronic Kidney Disease </h1>
    <div class="fieldWrapper">
      <h2>For the values</h2>
      <p>Blood_Glucose_Random:{{data_bgr}}</p>
      <p>Blood_Urea:{{data_bu}}</p>
      <p>Serum_Creatine:{{data_sc}}</p>
      <p>Packed_cell_volume:{{data_pcv}}</p>
      <p>White_blood_count:{{data_wc}}</p>
      <p>OUTPUT::{{out}}</p>
      
    
    <a  href="{% url 'childApp:child' %}">Child Predicition</a>
    <br>
</div>
{% endblock %}
