{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}

<div>
    <div class="card-header bg-info text-white text-center">
      <h2>🧒 Child Behaviour Predictor</h2>
      <p class="mb-0">Please fill out the form below to analyze your child's behavior</p>
    </div>

    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-success btn-lg">🔍 Predict Behavior</button>
        </div>
      </form>
    </div>
</div>

{% endblock %}

